.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 20px auto;
}
.header > a {
  margin-left: 10px;
  text-decoration: none;
}
.activeClass {
  color: red;
}
