.App {
  text-align: center;
  padding: 0 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.content > h1 {
  padding: 70px;
  border: 1px solid gray;
  border-radius: 15px;
}
